@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-color: #f3f3f3;
}

.wrapper {
   width: 350px;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   overflow: hidden;
}

.title {
   background-color: #007bff;
   color: #fff;
   line-height: 2.5;
   text-align: center;
   font-size: 20px;
}

.box {
   padding: 20px;
   max-height: 300px;
   overflow-y: auto;
   scrollbar-width: thin;
   scrollbar-color: #007bff transparent;
}

.message {
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 6px;
}

.received {
   background-color: #f5f5f5;
   color: #333;
}

.sent {
   background-color: #007bff;
   color: #fff;
   text-align: right;
}

.typing-area {
   background-color: #f5f5f5;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.input-field {
   width: 100%;
   display: flex;
}

input[type="text"] {
   flex: 1;
   padding: 8px;
   border: none;
   border-radius: 4px;
   outline: none;
   font-family: 'Poppins', sans-serif;
}

button {
   background-color: #007bff;
   color: #fff;
   border: none;
   padding: 8px 16px;
   border-radius: none;
   }
